<article class="plan">
    <div class="title">
        <h3>{{plan_title}}</h3>
    </div>
    <div class="meta">
        <p>Category Name: {{category_name}}</p>
        <span>Class Name: {{class_name}}</span>
    </div>
</article>

<div class="meta">
    <span>
        Created by {{user.username}} on {{format_date created_at}}
    </span>
    |
    <a href="/plan/{{id}}">Display Plan</a>
    |
    <a href="/plan/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</div>
!>