<div id="index-banner">
    <div class="section no-pad-bot">
        <div class="container-image">
            <br><br>
            <h1 class="header center text-black"> Dashboard: My Activity
            </h1>
            <div class="row center">
                <h5 class="header col s12 light">Instructions on how to use dashboard can go here.</h5>
                <a href="/newPlan/"><button id="add-plan" class="btn">
                        Create a New Plan</button>
                </a>
            </div>
            <br><br>
        </div>
    </div>
</div>

{{!-- plans --}}
{{#if plans.length}}
<ul class="collection">
    {{#each plans as |plan|}}
    <div class="row">
        <div class="col s12">
            <li class="collection-item avatar">
                <i class="material-icons circle">fitness_center</i>
                <b class="title">{{plan.plan_title}}</b>
                <div class="meta">
                    <p>Category Name: {{category_name}}</p>
                    <p>Class Name: {{class_name}}</p>
                </div>
                <p>Created by {{user.username}} on {{format_date plan.created_at}} <br>
                    <a href="/plan/{{plan.id}}"> {{comments.length}} {{format_plural "comment" comments.length}}</a>
                </p>
                <a href="/dashboard/edit/{{plan.id}}" class="secondary-content"><i class="material-icons">edit</i></a>
            </li>
            {{/each}}
        </div>
    </div>
</ul>
</section>

{{else}}
<br>
<!--if no plans yet, tell user-->
<h3>No plans have been submitted by this user</h3>
{{/if}}




<script src="/javascript/add-plan.js"></script>