<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container-image">
      <br><br>
      <h1 class="header center teal-text text-lighten-2 highlight">Create Your Workout Planner</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
</div>


{{!-- <ol class="post-list">
  <li>
    <article class="plan">
      <div class="plan_title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        Created by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
</ol> --}}