<article class="plan">
  <div class="title">
    <a href="{{plan.category_name}}" target="_blank">{{category.category_title}}</a>
    <span>({{plan.category_name}})</span>
  </div>
    <div class="title">
    <a href="{{plan.class_name}}" target="_blank">{{class.class_title}}</a>
    <span>({{plan.class_name}})</span>
  </div>
  <div class="meta">
    Created by {{plan.user.username}} on
    {{plan.created_at}}
    |
    <a href="/plan/{{plan.id}}">{{plan.comments.length}} comment(s)</a>
  </div>
</article>