<article class="plan container">
  <br></br>
  <a href="/dashboard" class="title"> &larr; Return to Dashboard</a>
  <br><br>
  <h3>{{plan.plan_title}} Comments:</h3>
  <div class="title">
    <b>{{plan.plan_title}}</b><br>
    <a href="{{plan.category_name}}" target="_blank">{{category.category_title}}</a>
    <span>({{plan.category_name}})</span>
  </div>
  <div class="title">
    <a href="{{plan.class_name}}" target="_blank">{{class.class_title}}</a>
    <span>({{plan.class_name}})</span>
  </div>
  <div class="meta">
    Created by {{plan.user.username}} on
    {{format_date plan.created_at}}
    |
    <!--   <a href="/comment/{{plan.comment.id}}">{{plan.comments.length}} comment(s)</a>-->
    <a href="/plan/{{plan.id}}">{{plan.comments.length}} comment(s)</a>
  </div>
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="waves-effect waves-light btn">Add Comment</button>
    </div>
  </form>
  {{> comments plan.comments}}
</article>

<br></br>


<script src='/javascript/comment.js'></script>